@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.account-card {
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  cursor: pointer;
  transition: transform 0.2s;
}
.account-card:hover {
  transform: scale(1.1);
}
.account-card-row {
  padding: 15px 15px 15px 15px;
}
.account-head {
  font-family: "Pacifico", cursive;
  overflow: hidden;
  position: relative;
  z-index: 10000;
}
.card-col {
  z-index: 100 !important;
}
.account-card-link {
  color: #000000;
  text-decoration: none;
}
.manage-card-icon {
  color: #1e9dcd;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.address-add-chk-form {
  width: 50%;
  transition: 0.2s;
}
.chk-form-edt .address-add-chk-form:hover,
.chk-form-edt:hover {
  opacity: 0.5;
}
.address-details-checkout {
  text-align: start;
  padding: 32px;
  border-radius: 9px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}
.chk-form-edt {
  border: none;
  outline: none;
  text-decoration: underline;
  color: #1e9dcd;
  font-weight: bold;
  background: transparent;
  transition: 0.1s;
}
