@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body{
    margin: 0;
    padding: 0;
}

.bestseller-head{
    font-family: 'Pacifico', cursive;
    overflow: hidden;
}
