body{
    background-color: #ffffff;
    /* height: 100%; */
    margin: 0;
    padding: 0;
}
.carousel-container{
    height: 100%;
    
}
.slider-img{
    width: 20em;
    border-radius: 50px;
background: linear-gradient(145deg, #cfd0d3, #f6f7fa);
box-shadow:  20px 20px 60px #c4c4c7,
             -20px -20px 60px #ffffff;
             float: right;
             width: 28em;
}
.slider-img-container{
    height: 37em;
}
.welcome-head{
    font-size: 3rem;
    letter-spacing: 11px;
}
h1{
    color: #043141;
}
.h1:before, .h1:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1.5px;
    content: '\a0';
    background-color: #1e9dcd;
}
.h1:before {
    margin-left: -50%;
    text-align: right;
}
.slider-shop-btn, .slider-shop-btn:hover, .slider-shop-btn:focus{
    background: transparent;
    color: black;
    border: none;
    font-weight: bolder;
    text-decoration: underline;
}
.carousel-control-prev, 
.carousel-control-next{
    width: 100px;
    background-color: rgb(145, 134, 134);
    height: 6em;
    top: 60%;
    /* position: static; */
    border-radius: 60px;
}
.home-banner-two{
    position: relative;
    background-color: transparent!important;
    backdrop-filter: blur(4px) saturate(200%);
    -webkit-backdrop-filter: blur(4px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 12px;
    padding: 2em 1em;
}

.desktop-banner{
    background-image: url(/src/Assets/IMG/banner_main.png);
    background-size: cover;
    height: 500px;
    width: 100%;
    cursor: pointer;
  }
  
  .mobile-banner{
    background-image: url(/src/Assets/IMG/banner_main_mb.png);
    background-size: cover;
    height: 500px;
    width: 100%;
    display: none;
  }

  .mobile-banner-sm{
    background-image: url(/src/Assets/IMG/banner_sm.png);
    background-size: cover;
    height: 500px;
    width: 100%;
    display: none;
  }

  @media (max-width: 500px) {
    .desktop-banner {
      display: none;
    }
    
    .mobile-banner-sm{
        display: none;
    }

    .mobile-banner-sm {
      display: block;
    }
    .carousel-control-prev, 
    .carousel-control-next{
        display: none;
    }
  }